div#sc_root {
    .custom_datatable {
        & .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            & .pagination_pages {
                & .page {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
    }
}
